@import "./helpers/mixin";

body {
 margin: 0;
}
.page-content {
  padding: 20px;
  .page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
a {
  text-decoration: none;
}