@import "./helpers/variable";
@import "./helpers/mixin";

body {
 margin: 0;
}
.page-content {
  padding: 20px;
  .page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
a {
  text-decoration: none;
}
.filter {
  border-bottom: 1px solid $systemBorderGray;
  margin-bottom: 20px;
  padding-bottom: 20px;
  .filter-title {
    @include font-h3;
    margin-bottom: 15px;
  }
  .filter-footer {
    display: flex;
    justify-content: flex-end;
  }
  .el-select {
    width: 100%;
  }
}
